
 	<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="{% url 'app_main:index'%}">Home</a></li>
						<li><a href="#">Hot Deals</a></li>
						<li><a href="{% url 'app_main:store'%}">Categories</a></li>
						<li><a href="#">Laptops</a></li>
						<li><a href="#">Smartphones</a></li>
						<li><a href="#">Cameras</a></li>
						<li><a href="#">Store</a></li>
						<li><a href="#">Broduct</a></li>
						<li><a href="#">Blank</a></li>
						<li><a href="#">Checkout</a></li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>