{% extends 'base.html' %}

{% load static %}
{% block head %}
{{ block.super }}
{% block title %}
 <title>Головна</title>
{% endblock title %}
{% endblock head %}

{% block content %}

<h1> Головна сторінка --- !</h1>

{% endblock %}

<!-- Javascript-->
{% block scripts %}
{{ block.super }}

{% endblock %}


{% extends 'base.html' %}

{% load static %}
{% block head %}
{{ block.super }}
{% block title %}
 <title>Головна</title>
{% endblock title %}
{% endblock head %}

{% block content %}


    <main>
        <section>
            <div class="wellcome">
                <div class="wellcomeMsg">
                    <div class="headTag">Leopard</div>
                    <div class="subTag">Presenting India ka Bike | India's Fastest Bike Ever</div>
                </div>
            </div>
        </section>

        <section id="features">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="sectionHead">Features</div>
                        <hr>
                        <br>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-wrench" aria-hidden="true"></i>
                            </div>
                            <h4>Repair</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus aliquid perferendis
                                inventore fugit magnam quod atque dicta nemo. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </div>
                            <h4>Speed</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus aliquid perferendis
                                inventore fugit magnam quod atque dicta nemo. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </div>
                            <h4>Spare Parts</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus aliquid perferendis
                                inventore fugit magnam quod atque dicta nemo. </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box">
                            <div class="icon">
                                <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            </div>
                            <h4>Tire Sales</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus aliquid perferendis
                                inventore fugit magnam quod atque dicta nemo. </p>
                        </div>
                    </div>
                </div>


            </div>
        </section>

        <section class="parallex-section">
            <div class="parallex" id="parallex-set-1"></div>
        </section>

        <section id="shop">
            <div class="container">
                <div class="sectionHead">Shop</div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-3">
                        <div class="item-box">
                            <div class="item-box-img">
                                <img src="static/img/bike1.jpg">
                            </div>
                            <div class="item-box-head">Bikes</div>
                            <div class="item-box-sub-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            <button class="btn item-box-btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item-box">
                            <div class="item-box-img">
                                <img src="static/img/bike.jpg">
                            </div>
                            <div class="item-box-head">Helmets</div>
                            <div class="item-box-sub-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            <button class="btn item-box-btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item-box">
                            <div class="item-box-img">
                                <img src="static/img/bike2.jpg">
                            </div>
                            <div class="item-box-head">Wheels</div>
                            <div class="item-box-sub-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            <button class="btn item-box-btn">Shop Now</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="item-box">
                            <div class="item-box-img">
                                <img src="static/img/bike3.jpg">
                            </div>
                            <div class="item-box-head">Cloths</div>
                            <div class="item-box-sub-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
                            <button class="btn item-box-btn">Shop Now</button>
                        </div>
                    </div>
                </div>


                <div class="sectionSubHead">Newly Arrived</div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="static/img/bike.jpg" alt="bike">
                            <div class="card-footer">
                                <p class="card-text">
                                    INR XX,XXX/-
                                    <span style="color:rgb(173, 11, 11)">(39% off)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="static/img/bike2.jpg" alt="bike">
                            <div class="card-footer">
                                <p class="card-text">
                                    INR XX,XXX/-
                                    <span style="color:rgb(173, 11, 11)">(27% off)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="static/img/bike1.jpg" alt="bike">
                            <div class="card-footer">
                                <p class="card-text">
                                    INR XX,XXX/-
                                    <span style="color:rgb(173, 11, 11)">(32% off)</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="static/img/bike2.jpg" alt="bike">
                            <div class="card-footer">
                                <p class="card-text">
                                    INR XX,XXX/-
                                    <span style="color:rgb(173, 11, 11)">(45% off)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="static/img/bike.jpg" alt="bike">
                            <div class="card-footer">
                                <p class="card-text">
                                    INR XX,XXX/-
                                    <span style="color:rgb(173, 11, 11)">(17% off)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="static/img/bike3.jpg" alt="bike">
                            <div class="card-footer">
                                <p class="card-text">
                                    INR XX,XXX/-
                                    <span style="color:rgb(173, 11, 11)">(21% off)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="parallex-section">
            <div class="parallex" id="parallex-set-3"></div>
        </section>

        <section id="about">
            <div class="container">
                <div class="sectionHead">About Us</div>
                <hr>
                <br>
                <p>
                    Some text about me. Some text about me. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </section>


        <section class="parallex-section">
            <div class="parallex" id="parallex-set-2"></div>
        </section>



        <section id="contact">
            <div class="container">
                <div class="sectionHead">Contact Us</div>
                <hr>
                <br>
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6 offset-md-2">
                                <h4 class="sectionSubSubHead text-capitalize">Send A message</h4>
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" required placeholder="Name*">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" required placeholder="Email*">
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" class="form-control" required placeholder="Phone*">
                                    </div>
                                    <div class="form-group">
                                        <textarea type="text" class="form-control" required placeholder="Message*"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-info" type="submit">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="sectionSubSubHead">Mail Us</h4>
                        <ul class="list-unstyled">
                            <li>Leopard Pvt. Ltd.</li>
                            <li>Saltlake, Kolkata</li>
                            <li>West Bengal, India</li>
                            <li>Pin: 700XXX</li>
                            <li>Phone: +91 9xxxxxxxx</li>
                            <li>Email: example@domain.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

    </main>


{% endblock %}

{% block scripts %}
{{ block.super }}

{% endblock %}

</body>


</html>